.cover__link {
  background: #0278FE;
  width: 198px;
  height: 48px;
  font-size: 18px;
  line-height: 1.0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
}