.place__title {
  max-width: 584px;
  font-size: 72px;
  line-height: 1.2;
  margin: 0;
}

@media screen and (max-width: 550px) {

  .place__title {
    font-size: 32px;
    margin-left: 10px;
    margin-right: 10px;
  }
}