.header__logo {
  max-width: 270px;
  padding-top: 34px;
  padding-bottom: 90px;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 550px) {

  .header__logo {
    max-width: 200px;
  }
}