.photo-grid {
  max-width: 1184px;
  margin: auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  border: 2px solid red;
}

grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));