.place__button {
  background-color: #0278FE;
  max-width: 355px;
  border-radius: 5px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 912px) {
  .place__button {
    margin-top: -50px;
    max-width: 500px;
  }
}

@media screen and (max-width: 550px) {

  .place__button {
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
  }
}