.place__button4 {
    background-color: #0278FE;
    max-width: 355px;
    border-radius: 5px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -120px;
  }

  @media screen and (max-width: 912px) {

    .place__button4 {
      margin-top: -200px;
      max-width: 500px;
    }
  }


@media screen and (max-width: 550px) {

  .place__button4 {
  margin-top: 0px;
  margin-left: 10px;
    margin-right: 10px;
  }
}