.cover__subtitle {
  max-width: 280px;
  text-align: center;
  font-size: 18px;
  line-height: 1.2;
}

@media screen and (max-width: 550px) {

  .cover__subtitle {
    font-size: 14px;
    max-width: 200px;
  }
}